html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #00f5d0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



* {
    box-sizing: border-box;
}
.header {
    background-color: black;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 30px;
    gap: 40px;
    justify-content: center;

}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 245px;
}
.menu {
    flex: 1;
}
.menu ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;

    
}
.menu ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}
.layout_header-line {
    border-bottom: 5px solid hsl(171, 100%, 48%);
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
}
.bunner {
    display: flex;
}
.container {
    background-image: url("../images/hhhh.jpg");
    height: 729px;
    background-size: cover;
}
.nextGP {
    /*background-color: #00f5d0;*/
    background: linear-gradient(to bottom, #00f5d0, #000000 100%);


}
.nextGP h2{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 36px 0 15px 35px;
}
.nextGP p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 0 61px 80px 35px;
}
.nextGP ul {
    list-style: disc;
    padding-left: 50px;
    padding-top: 15px;
    ;
}
.nextGP ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;

}
.standings {
    background-color: black;
    padding: 60px 0;
}
.standings p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0 50px 15px 35px;
    color: white;
}
.standings h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0 50px 15px 35px;
    color: white;
}
.standings span {
    color: aqua;
}
.back-img {
    width: 1175px;
    height: 700px;
    display: none;
    
}
.back-img img{
    width: 100%;
    height: 100%;
}


.wrapper {
    display: flex;
    max-width: 30%;
    border-bottom-right-radius: 70px;
    height: 100%;
}
.layout_header-line2 {
    border-top: 5px solid hsl(171, 100%, 48%);
    left: 0;
    position: absolute;
    right: 0;
    margin-top: 1px;

}
.learn-more-img {

    border-radius: 0 0 40px;
    flex: 1 0 50%;
    height: 100%;
    overflow: inherit;
    display: flex;
    background-color: black;
    border-top: 5px solid;
    border-image: linear-gradient(to right, #00f5d0, #000000 97% ) 1;
}
.learn-more-text {
    display: flex;
}

.learn-more-img img {
    width: 210px;
    border-radius: 0 0 40px;

}
.learn-more-img p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 41px 0 0 23px;
    width: 118px;
    height: 60px;

}
.learn-more-img a {
    display: inline-flex;
    justify-content: center;
    fill: white;
    width: 39px;

}
.info-drivers {
    display: flex;
    background: linear-gradient(to top, #00f5d0, #000000 50% );
    gap: 50px;
    justify-content: center;
    padding: 70px 70px 0;
}
.info-drivers p {
    padding-top: 280px;
    padding-bottom: 25px;
}
.info-drivers span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 43px;
    color: white;
}
.info-drivers a {
    display: flex;
    border: 5px solid hsl(171, 100%, 48%);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    justify-content: center;
    padding: 15px;
    color: #00f5d0;

}
.kimi img {
    width: 270px;
    filter: drop-shadow(0px 0px 10px black);

}
.george img {
    width: 270px;
    filter: drop-shadow(0px 0px 10px black);
}
.follow-us {
    background-color: hsl(0,0%,14%);
    padding: 135px 0 135px;
}
/*.footer-text {*/
/*    padding: 150px 0 80px;*/
/*}*/
.follow-text h2 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 40px;
    color: white;
}
.follow-text p {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white;
    padding-bottom: 40px;
}
.follow-media {
    display: flex;
    gap: 50px;
    justify-content: center;
    color: white;
}
.follow-media img {
    width: 40px;
    height: 40px;
}
footer {
    background-color: black;
    padding: 70px 130px;
    border-top: 5px solid hsl(171, 100%, 48%);
}
footer img {
    width: 150px;

}
.title-partner{
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 30px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 214px;
    margin-bottom: 70px;

}
.middle-partner {
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 25px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 190px;
    margin-bottom: 70px;
}
.footer-partner {
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 25px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
}
/*.layout_header-line3 {*/
/*    border-top: 5px solid hsl(171, 100%, 48%);*/
/*    left: 0;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    margin-top: unset;*/
/*}*/
/* background-image: linear-gradient(90deg, var(--button-fill-1) 0, var(--button-fill-1) 50%, var(--button-hover-1) 50.01%, var(--button-hover-1) 100%);
background-size: 204%; */
